@using DesignPatternsWorkshop.Application.DTOs
@model DesignPatternsWorkshop.Application.DTOs.PurchaseDTO
@{
    ViewData["Title"] = "Point of Sale";
}

<h1>Point of Sale</h1>

<div class="product-selector">
    <button class="product-button" OnClick="addProduct('Oat milk', 2, 1)">Oat milk</button>
    <button class="product-button" OnClick="addProduct('Apples', 1, 1)">Apples</button>
    <button class="product-button" OnClick="addProduct('My Kingdom', 10000000, 1)">My Kingdom</button>
    <button class="product-button" OnClick="addProduct('Manure', 52, 1)">Five kg of manure</button>
    <button class="product-button" OnClick="addProduct('Sparrow, last', 1, 0)">The last sparrow to fall from the sky</button>
</div>

<div class="action-selector">
    <button class="action-button" OnClick="undoLast()">Undo</button>
    <button class="action-button" OnClick="redoLast()">Redo</button>
</div>

<div>
    <p>Add discount</p>
    <button OnClick="addDiscount('percentage', 15)">15%</button>
    <button OnClick="addDiscount('fixed', 5)">£5</button>
    <button OnClick="addDiscount('bundle', 2)">£2 off every £10</button>
</div>

<h2>Products in Purchase:</h2>
<div id="purchaseContainer">
    @await Html.PartialAsync("_ProductList", Model.Products)
</div>

<div id="purchaseTotalDisplay">
    @await Html.PartialAsync("_PurchaseTotal", new PurchaseTotalDTO(Model.Discount.Name, Model.GetTotal()))
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<script type="module" src="~/js/signalRConnection.js"></script>
<link type="text/css" rel="stylesheet" href="~/css/Index.css" />