@page "/counter"
@rendermode InteractiveServer
@* @inject HttpClient Http *@

<PageTitle>POS</PageTitle>

<h1>Active Transaction</h1>

@if(Purchase is not null)
{
	@if(Purchase.Products.Count > 0)
	{
		@foreach(var p in Purchase.Products)
		{
			<p><b>@p.Name</b>  @p.Price</p>
			<p>@p.Quantity</p>
		}
	}
}


@code {
	public PurchaseDTO Purchase;

	private HttpClient http = new();

	protected override async Task OnInitializedAsync()
	{
		try
		{
			Purchase = await http.GetFromJsonAsync<PurchaseDTO>("http://localhost:5168/Purchase/ViewPurchase");
		}
		catch(Exception ex)
		{
			Console.WriteLine(ex.Message);
		}
	}

}
